VITE_FIREBASE_API_KEY=AIzaSyCqTAgqHwtMEDEwp9Up3eYwsWY6rSEKpZ8
VITE_FIREBASE_AUTH_DOMAIN=blooplabs.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=blooplabs
VITE_FIREBASE_STORAGE_BUCKET=blooplabs.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=701961424556
VITE_FIREBASE_APP_ID=1:701961424556:web:293449090348b9ce20d909
VITE_FIREBASE_MEASUREMENT_ID=G-GQ4TEVQEPM
GEMINI_API_KEY=
